* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: rejoy;
}

@font-face {
    font-family: NB;
    src: url(./FONTS/NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejoy;
    src: url(./FONTS/Rejouice-Headline.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    position: relative;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1nav {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    /* background-color: #ff5f38; */
    background-color: rgba(0, 0, 0, 0.558);
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translate(-50%, -50%);
}

#cursor h4 {
    font-size: 1.3vw;
    font-weight: 500;
    color: #fff;
}

#cursor2 {
    height: 7.5vw;
    width: 7.5vw;
    /* background-color: #ff5f38; */
    background-color: rgba(0, 0, 0, 0.776);
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translate(-50%, -50%);
}

#cursor2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
    color: #fff;
}

#page1nav nav {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
}

#page1nav nav h3,
h4 {
    font-size: 1.3vw;
    font-weight: 100;
    font-family: NB;
}

nav h4 {
    position: relative;
    cursor: pointer;
}

nav h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 3px;
    background-color: #fff;
    transition: all ease 0.4s;
}

nav h4:hover::after {
    width: 100%;

}


#page1nav h1 {
    font-size: 26vw;
    font-family: rejoy;
    font-weight: 100;
    line-height: 25vw;

}

#page1nav h1 span {
    font-family: rejoy;
    color: #fff;
    display: inline-block;
}

#page2 {
    width: 100%;
    height: 100vh;
    background-color: #FAF8F3;
    padding: 5vw 3vw;
}

#page2prt1 {
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid #BBBAB6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2prt1 h3 {
    font-size: 1.7vw;
    font-weight: 100;
    font-family: NB;
}

#pg2prt2 {
    height: 90vh;
    width: 100%;
    background-color: #FAF8F3;
}

#pg2prt2 .box {
    height: 60vh;
    width: 100%;
    padding: 1.2vw 0.5vw;
}

#pg2prt2 .box h2 {
    font-family: nb;
    font-size: 4.1vw;
    line-height: 4.1vw;
    font-weight: 100;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
    background-color: #FAF8F3;
}

#page3top {
    text-align: center;
}

#page3top h4 {
    margin-bottom: 1vw;
    font-size: 1.8vw;
    font-weight: 500;
    font-family: NB;
}

#page3top h2 {
    font-size: 4.3vw;
    font-weight: 500;
    font-family: NB;
    text-decoration: underline black;

}


#page3top h4 span {
    font-size: 0.7vw;
    background-color: black;
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
    font-family: NB;
    margin-top: -13px;
}

#page3 #pg3-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12vw;
    margin-bottom: 1.4vw;
}

#pg3-text h3 {
    font-size: 1.7vw;
    font-family: 100;
    font-family: NB;

}

#page3-elem {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 8vw; */
}

#page3-elem .box {
    height: 100%;
    width: 32%;
    position: relative;
}

#page3-elem .box video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page3-elem .box img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transition: all linear 0.7s;
}

#page3-elem .box:hover img {
    opacity: 0;
}


#page3-bottom {
    margin-top: 10vw;
}

#page3-bottom h4 {
    font-size: 2vw;
    font-family: NB;
    font-weight: 100;
}

#page3-bottom #line {
    width: 0%;
    height: 0.1vw;
    background-color: black;
    margin: 0.3vw 0;
}

#pg3-btm h2 {
    font-family: nb;
    font-size: 4.1vw;
    line-height: 4.1vw;
    font-weight: 100;
}

#page4 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 2vw 3.5vw;
    background-color: #FAF8F3;
}

#pg4-top {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page4 video {
    height: 100%;
}

#page4 svg {
    position: absolute;
    height: 63%;
}

#page4-bottom {
    margin-top: 10vw;
}

#page4-bottom h4 {
    font-size: 2vw;
    font-family: NB;
    font-weight: 100;
}

#page4-bottom #line {
    width: 0%;
    height: 0.1vw;
    background-color: black;
    margin: 0.3vw 0;
}

#pg4-btm h2 {
    font-family: nb;
    font-size: 4.1vw;
    line-height: 4.1vw;
    font-weight: 100;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
    background-color: #FAF8F3;
}

#page5 #page5-top h1 {
    font-size: 10vw;
    font-family: Rejoy;
    font-weight: 100;
    border-bottom: 2px solid black;
    margin-left: 5%;
}

#swiper {
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -5%;
}

.swiper {
    width: 130%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

.swiper-slide img {
    display: block;
    width: 18%;
    /* height: 100%; */
    object-fit: cover;
    margin-left: 20px;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}

#loader h3 {
    font-size: 2vw;
    font-weight: 100;
    font-family: NB;
}

#page5-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page5-bottom h4 {
    font-size: 1.5vw;
    color: #61605e;
}

#page5-bottom h1 {
    font-size: 4.7vw;
    margin-top: -1%;
    font-family: nb;
    font-weight: 100;
    text-decoration: underline;
    position: relative;
}

#page5-bottom h1::before {
    content: '';
    position: absolute;
    width: 12px;
    background-color: #FAF8F3;
    height: 15px;
    bottom: 0;
    opacity: 0;
    transform: translatex(0%);
    left: 0;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#page5-bottom h1:hover::before {
    opacity: 1;
    position: absolute;
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 1s;
    right: 100%;
    transform: translateX(2500%);
}

#footer {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    /* padding: 20px; */
    color: #fff;
    display: flex;
    flex-direction: column;
}

#ft-upper {
    display: flex;

}

#footer #ft-top-left {
    padding: 30px;
    /* background-color: red; */
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ft-top-left h3 {
    font-family: nb;
    font-weight: 100;
    font-size: 2vw;
}

#ft-top-left button {
    width: 20%;
    height: 15%;
    background-color: black;
    color: #fff;
    border-radius: 50px;
    font-size: 1.2vw;
    margin-top: 2%;
    border: 1px solid #fff;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;

}

#ft-top-left button:hover {
    color: #000000;
    background-color: #fff;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 1s;
}

#ft-top-bottom {
    padding: 10px;
}

#ft-top-bottom h3 {
    font-family: nb;
    font-size: 1.3vw;
    font-weight: 100;
}

#ft-top-right {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    padding-left: 30%;
}

#ft-nav-prt1 {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#ft-nav-prt1 a {
    font-family: nb;
    font-weight: 100;
    font-size: 1.2vw;
    text-decoration: none;
    color: #fff;
    margin-bottom: 2px;
}

#ft-nav-prt2 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}


#ft-nav-prt2 a {
    font-family: nb;
    font-weight: 100;
    font-size: 1.2vw;
    text-decoration: none;
    color: #fff;
    margin-bottom: 2px;
}

#ft-bottom-right {
    display: flex;
    justify-content: space-around;
}

#ft-bottom-right h3 {
    font-family: nb;
    font-size: 1vw;
    font-weight: 100;
}

#ft-bottom {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-items: center;
}


#ft-bottom h1 {
    font-family: Rejoy;
    font-size: 26vw;
    font-weight: 300;
}

#ft-bottom h1 span {
    font-family: Rejoy;
    display: inline-block;
    font-size: 26vw;
    letter-spacing: 10px;
    font-weight: 300;
}

/* #footer #ft-bottom h1{
    font-size: 26vw;
    font-family: rejoy;
    font-weight: 100;
    line-height: 25vw;  
    
}

#footer #ft-bottom h1 span{
    font-family: Rejoy;
    color: #fff;
    display: inline-block;
} */